<section id="filter-section" class="filter-section">
    <form class="filter-form">
        <ul class="filter-list">
            <li class="filter-item">
                <input type="text" name="year" id="year" placeholder="Entre un año" pattern="\d{4}">
                <button type="submit" class="button-filter">Aplicar</button>
                <!-- <input class="tgl tgl-ios" id="cb2" type="checkbox"/>
                <label class="tgl-btn" for="cb2"></label> -->
            </li>
        </ul>
    </form>
</section>