<navbar id="navbar" class="app-navbar no-search">
    <div class="bkg-img">
        <picture >
            <source srcset="./images/cerveza_final_gra.png" media="(min-width:768px)">
            <source srcset="./images/cerveza_final_med.png" media="(min-width:391px)">
            <source srcset="./images/cerveza_final_peq.png" media="(max-width:390px)">
            <img class ="image img-responsive" src="../images/cerveza_final_gra.png" alt="cerveza">    
        </picture>
    </div>
    <div class="navbar-logo">
        <a href="/beerflix">BeerFlix</a>
    </div>
    <div class="filter-container">
        <form class="filter-input" id="search-form">
            <input type="text" id="search-field" class="input search" placeholder="Search a beer">
            <button type="submit" class="button search">Search</button>
        </form>
    </div>
    <div>
        <div>
            <i id="navbar-search" class="fas fa-beer"></i>
            <i id="navbar-close" class="fas fa-times-circle"></i>
        </div>
    </div>
</navbar>
  