<navbar id="navbar" class="app-navbar no-search">
    <div class="navbar-logo">
        <a href="/">BeerFlix</a>
    </div>
    <div class="filter-container">
        <form class="filter-input" id="search-form">
            <input type="text" class="input search" placeholder="Search a beer">
            <button type="submit" class="button search">Search</button>
        </form>
    </div>
    <div>
        <div>
            <i id="navbar-search" class="fas fa-beer"></i>
            <i id="navbar-close" class="fas fa-times-circle"></i>
        </div>
    </div>
</navbar>
  