.beer-section{
    grid-area: main;
    justify-self: center;
    
    & > div{
        margin: 20px 0;
    }
    @include desktop {
        margin: 20px 0 40px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        
    }
     
   
    
    
}