.card{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $primary-color-light;
    border: none;
    border-radius: 5px;

    .card-header{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        h2{
            font-size: $header-h2;
            color: $primary-text-color;
        }
        .card-price{
            font-size: $icons;
            background-color: $primary-color;
            padding: .1em .5em .1em .5em;
            border-bottom-right-radius: 20%;
            border-top-left-radius: 20%;
        }
    }

    .card-content,
    .card-content-image img{
        width:100%;
    }
    .card-content-image{
        width: 100%;
        max-width: 85px;
        min-width: 85px;
        padding: 0.5em;
    }
    .card-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        padding: 0 1em 1em 1em;
    }
    .card-content-text{
        padding: 0.5em;
    }
    .rating-container{
        padding: 0.5em;
    }
}

.beer-detail{
    grid-area: filter;
    justify-self: center;
}

.load-wrapp {
    grid-area: main;
    width: 100px;
    height: 100px;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}

.load-wrapp p {padding: 0 0 20px;}


.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}