@import "variables";
@import "reset";
@import "navbar";
@import "info";
@import "beerlist";
@import "common";
@import "filter";

*{
  font-family:  'Lato', 'verdana';
}

a {
  text-decoration: none;
}
  
main{
    min-height: 100vh;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: minmax(max-content, 50px) minmax(max-content, 50px) 1fr;
    grid-template-areas:
      ". filter ." 
      ". header ."
      ". main .";
}
  